/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.todolist-container {
  background-color: white;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px;
  min-height: 80vh;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 40px;
}

.input-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.input-element {
  width: 50%;
  height: 50px;
}

.add-btn {
  height: 50px;
  background-color: #ff8542;
  border-width: 0px;
  color: white;
  width: 100px;
  font-weight: bold;
}

.todo-items-list {
  width: 100%;
}
